<header class="header">
    <nav class="navbar">
        <ul class="navbar ul">
            <li>
                <a class="navbar  ul a" href="/">Home</a>
            </li>
            <li>
                <a class="navbar  ul a" href="/about">Sobre</a>
            </li>
            <li>
                <a class="navbar  ul a" href="/api">API</a>
            </li>
        </ul>
    </nav>
</header>