<form action="/admin/add-ponto/<%= cidade %>" id="pointForm" method="POST">
    <label>Endereço:</label>
    <input type="text" placeholder="Endereço" name="endereco" required>
    <br>
    <label>Google Maps URL (opcional):</label>
    <input type="url" placeholder="Google Maps URL (opcional)" name="mapa_url">
    <br>
    <label>Vacinas oferecidas:</label>
    <br>
    <!--To do: loop iterating through all vacine types stored in database-->
    <% vacinas.forEach(vacina => { %>
        <input type="checkbox" name="<%= vacina.nome %>" value="true">
        <label for="<%= vacina.nome %>"><%= vacina.nome %></label>
        <br>
    <% }) %>
    
    
    <button type="submit">Adicionar</button>
</form>
