<div class="container">
    <p>
        Endpoints da API:
        <br>
        /api/cidades -> retorna lista de todas as cidades com seus respectivos IDs
        <br>
        /api/cidades/:id -> retorna todos os detalhes de uma cidade
        <br>
        /api/pontos/:id_da_cidade -> retorna apenas os pontos de vacinação da cidade
    </p>
</div>