<div class="intro">
    <h1><%= cidade.city %></h1>
</div>
<div class="points-container">
    <h3>Pontos de Vacinação Contra Covid-19:</h3>
    <% cidade.pontos.forEach(ponto => { %>
        <div class="points-item">
            <strong>Endereço: </strong>
            <%= ponto.endereco %>
            <br>
            <strong>Vacinas oferecidas: </strong>
            <br>
            <% ponto.vacinas.forEach(vacina => { %>
             <%= vacina.nome %>
             <br>
            <% }) %>
        </div>
    <% }) %>
</div>