<form action="/admin/city/add" method="POST">
    <label>Nome da Cidade</label>
    <input type="text"  placeholder="Cidade" name="city_name" required>
    <button type="submit">Adicionar</button>
</form>