<section>
    <div class="intro">
        <h1>Pontos de Vacinação de Alagoas</h1>
    </div>
</section>
<section>
    <div class="container">
        <div class="cities-container">
           <% cidades.forEach(cidade => { %>
            <div class="cities-item">
                <a href="/info/<%= cidade._id %>"><%= cidade.city %></a>
            </div>
           <% }) %>
        </div>
    </div>
</section>
