
<center>
    <h1>Pontos de Vacinação contra COVID-19 de Alagoas</h1>
</center>
<div class="cities-container">
    <% cidades.forEach(cidade => { %>
    <div class="cities-item">
        <a href="/info/<%= cidade._id %>"><%= cidade.city %></a>
        <br>
        <a href="/admin/delete/<%= cidade._id %>" class="delete">Delete</a>
    </div>
    <% }) %>
</div>
