<section>
    <div class="intro">
        <h1>Pontos de Vacinação de Alagoas</h1>
    </div>
</section>
<section>
    <div class="container">
        <div class="cities-container">
            <div class="cities-item">
                <a href="">Maceió</a>
            </div>
            <div class="cities-item">
                <a href="">Arapiraca</a>
            </div>
            <div class="cities-item">
                <a href="">Delmiro Gouveia</a>
            </div>
            <div class="cities-item">
                <a href="">Campo Alegre</a>
            </div>
            <div class="cities-item">
                <a href="">Pilar</a>
            </div>
            <div class="cities-item">
                <a href="">Piranhas</a>
            </div>
            <div class="cities-item">
                <a href="">Murici</a>
            </div>
            <div class="cities-item">
                <a href="">São José da Tapera</a>
            </div>
        </div>
    </div>
</section>
