@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
  --black: #1c1c1c;
  --gray: #7E7E7E;
  --gray-light: #E4E4E4;
  --red: #b30000;
  --lavender: #EAE8FF;
  --platinum: #d8d5db;
  --french-gray: #adacb5;
  --gunmetal: #2d3142;
  --blue: #b0d7ff;
  --font-size-base: 1rem;
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --border-radius: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  font-size: var(--font-size-base);
  background-color: var(--platinum);
  margin: 0;
}

a { color: var(--black); }
h1 { font-size: var(--font-size-xl); }
h2 { font-size: var(--font-size-lg); }
h3 { font-size: var(--font-size-md); }

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
select,
textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.7rem 0.75rem;
  margin-bottom: 1rem;
}

/* Layout */
.container {
  max-width: 982px;
  margin: 0 auto;
  padding: 0 10px;
}

.main {
  padding: 20px 0;
}

.btn {
  background-color: var(--black);
  border: none;
  color: white; 
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px; 
  cursor: pointer;
}

.footer {
    background-color: var(--gunmetal);
    color: white;
    margin: 4rem;
    text-align: center;
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo button"
    "menu menu";
    padding-top: 10px;
}

.intro {
    display: grid;
    padding: 0.25rem;
    text-align: center;
}

.navbar {
    background-color: var(--french-gray);
    justify-content: center;
    display: flex;
    grid-area: menu;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 0;
}

.navbar ul a {
  padding: 10px;
  margin: 10%;
  text-decoration: none;
}

.cities-container {
  display: grid;
  padding: 5px;
  grid-template-columns: auto auto auto auto;
}

.cities-item {
  background-color: var(--blue);
  color: var(--black);
  padding: 2%;
  margin: 5px;
  border-radius: 10px;
  /*border: 1px solid var(--black);*/
  text-align: center;
}